/* #50C9CE
#72A1E5
#9883E5
#FCD3DE */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e382e;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #9883e5;
  background-color: #50c9ce;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #fcd3de;
  color: black;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #fcd3de;
  color: black;
  border-radius: 1rem;
  border: none;
}

#msg {
    color: #72A1E5;
    font-size: 8vmin;
}

.msg-contianer {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide {
    display: none;
}